body {
  color: white;
  background-color: black;
}

.main {
  display: grid;

  height: 100dvh;
  padding: 0 20px;

  font-family: sans-serif;

  place-items: center;

  div {
    text-align: center;

    a {
      transition: 200ms all linear;
      text-decoration: none;

      color: white;

      font-size: 1rem;

      &:hover {
        color: rgb(239, 239, 2);
      }
    }
  }
  p {
    align-self: self-end;

    font-size: 2rem;

    justify-self: self-start;
  }
}
